<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- link rel="shortcut icon" href="../../assets/ico/favicon.ico" / -->

    <title th:text="'wesStyle.ru | О сайте'">wesStyle.ru</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/style.css}" href="../resources/css/style.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div th:include="navbar :: navbar-div('about')"></div>

<div class="container">
    <div class="row">
        <h2>Добро пожаловать</h2>
        <br/>

        <p>Это макет интернет магазина цифровых товаров.
            Вверху страницы находится навигационная панель.
            Для совершения покупок выберите соответствующий товар и нажмите на кнопку с иконкой корзины
            После этого выбранный товар в колличестве 1 штуки добавиться в вшау корзину
            Если вы не авторизованы, то текущая корзина хранится в сессии и будет удалено после того, как вы закроете
            сайт
            После авторизации корзина в сессии объединяется с корзиной в базе
            В правом-верхнем углу отображается текущее состояние вашей корзины - количество товаров и общая цена
            Для перехода к странице с корзиной, нажмите на область с ее состоянием

            Здесь можно видеть какие товары добавленны в корзину - в каком количестве, доступности и цене.
            Для изменения количества копий, используйте кнопки с иконками "+" и "-" или иконку с "X" для пометки товара
            на удаление из коризны.
            Для подтверждения изменений нажмите на кнопку "Пересчитать"

            Если вы авторизованы и все товары в наличии, то вы увидете кнопку "Оформить цифровой заказ". Если вы не
            авторизованы, то вы увидете кнопку "Войти".

            При оформлении заказа вам будет предложено выбрать способ оплаты - из предыдущих или добавить новый.
            После оформления заказа, вы будете перенаправлены на страницу со всеми своими заказами и их статусами.
            Для просмотра заказа и получения ключей для выполненных заказов, нажмите на кнопку "Просмотр" напротив
            любого из своих заказов


            В системе предусмотрена роль администратора, открывающая доступ к странице "Статистика", которая будет
            отображена на панели навигации, если вы авторизованы соответствующим пользователем.
        </p>
    </div>
</div>


<script th:src="@{/resources/js/jquery.min.js}" src="../resources/js/jquery.min.js"></script>
<script th:src="@{/resources/js/jquery.form.js}" src="../resources/js/jquery.form.js"></script>
<script th:src="@{/resources/js/script.js}" src="../resources/js/script.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}" src="../resources/js/bootstrap.min.js"></script>
</body>
</html>
