<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="cart (type, param)">
    <div th:if="${type == 'cartsd'}">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Артикул</th>
                <th>Название</th>
                <th>Издание</th>
                <th>Тип</th>
                <th>Цена за штуку</th>
                <th>Доступность</th>
                <th>Количество</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(cartsd.list)}">
                <td colspan="7" class="text-center">Корзина пуста</td>
            </tr>
            <tr th:each="eds, edStat : ${cartsd.list}" th:id="'edtr'+ ${eds.ed.id}">
                <td th:text="${eds.ed.id}">1</td>
                <td th:text="${eds.ed.softName}">jui</td>
                <td th:text="${eds.ed.name}">1</td>
                <td th:text="${eds.ed.editionType}" class="edType">1</td>
                <td th:text="${eds.ed.price}">1</td>
                <td th:if="${eds.available} == 0">
                    <span class="glyphicon glyphicon-ok"></span> Есть в наличии
                </td>
                <td th:if="${eds.available} != 0">
                    <span class="glyphicon glyphicon-remove"></span> Не хватает <span th:text="${eds.available}"></span>
                    шт.
                </td>
                <td class="col-md-2">
                    <div>
                        <div class="input-group input-group-sm">
                            <input type="text" readonly="true" th:class="'form-control text-center inputs'"
                                   th:id="'ed'+ ${eds.ed.id}" th:value="${eds.amount}"/>

                            <div class="input-group-btn" th:unless="${param} == 'checkout'">
                                <a class="btn btn-default btn-xs"
                                   th:href="'javascript:addToValue(' + ${eds.ed.id} + ')'" role="button">
                                    <span class="glyphicon glyphicon-plus"></span></a>
                                <a class="btn btn-default btn-xs"
                                   th:href="'javascript:removeFromValue(' + ${eds.ed.id} + ')'" role="button">
                                    <span class="glyphicon glyphicon-minus"></span></a>
                                <a class="btn btn-default btn-xs" th:id="'rmed'+ ${eds.ed.id}"
                                   th:href="'javascript:removeFromCartMark(' + ${eds.ed.id} + ')'" role="button">
                                    <span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:unless="${param} == 'checkout'">
            <a class="btn btn-lg btn-default" id="refreshCartd" role="button"
               th:unless="${#lists.isEmpty(cartsd.list)}">Пересчитать</a>
            <a class="btn btn-lg btn-primary" role="button" th:href="@{'/checkout/?orderId=' + ${cartsd.id}}"
               th:if="${not #lists.isEmpty(cartsd.list) and #authorization.expression('hasRole(''ROLE_USER'')') and not cartsd.hasNotAvailableItems}">Оформить
                заказ</a>
            <a class="btn btn-lg btn-warning" role="button"
               th:if="${not #lists.isEmpty(cartsd.list) and #authorization.expression('hasRole(''ROLE_USER'')') and cartsd.hasNotAvailableItems}">Не
                все товары доступны для заказа</a>
            <a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal" href="#" role="button"
               th:if="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}">Войти</a>
        </div>
    </div>
</div>
</body>
</html>