<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="cart-navbar">
    <a id="cart-a" th:href="@{/cart/}"><span class="glyphicon glyphicon-shopping-cart"></span><strong><span
            th:text="${cartsd.count}"></span></strong>
        товаров на сумму <span th:text="${cartsd.price}"></span> руб.</a>
</div>
</body>
</html>