<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- link rel="shortcut icon" href="../../assets/ico/favicon.ico" / -->

    <title th:text="'wesStyle.ru | Корзина'">
        wesStyle.ru</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/style.css}" href="../resources/css/style.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <div class="row">
        <div th:if="${not #lists.isEmpty(param.hasErrors)}" class="alert alert-danger"
             th:text="'Проверьте правильность введенных данных'">Error
        </div>
        <h2>Ваш заказ</h2>

        <div th:if="${order.type} == 'Цифровое'">
            <div th:include="cart-tmpl :: cart('cartsd','checkout')"></div>
        </div>
    </div>
    <div class="row">
        <h2>Детали оплаты</h2>

        <form class="form-horizontal" role="form" th:object="${CheckOutForm}" th:action="@{/checkout/}" method="POST">
            <h4><span th:text="${user.name}"></span> <span th:text="${user.surname}"></span><br/>
                <span th:text="${user.email}"></span>
            </h4>

            <h3>Выберите способ оплаты:</h3>

            <div class="row">
                <div class="col-md-4">
                    <p>Банковская карта</p>

                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" th:field="*{pmRadio}"
                                   value="card" checked="true" th:unless="${#lists.isEmpty(listCrd)}"/>
                            <select class="form-control" th:field="*{crdMulti}">
                                <option th:each="crd : ${listCrd}" th:value="${crd.id}">
                                    <span th:text="${crd.paymentType}"></span> <span
                                        th:text="${crd.card.number}"></span>
                                </option>
                            </select>
                        </label>
                    </div>
                    <p>Система оплаты</p>

                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" th:field="*{pmRadio}"
                                   value="ps" th:unless="${#lists.isEmpty(listPs)}"/>
                            <select class="form-control" th:field="*{psMulti}">
                                <option th:each="ps : ${listPs}" th:value="${ps.id}">
                                    <span th:text="${ps.paySystem.name}"></span> <span
                                        th:text="${ps.paySystem.walletNumber}"></span>
                                </option>
                            </select>
                        </label>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" th:field="*{pmRadio}"
                                   value="newpm"/>
                            Добавить новый способ оплаты
                        </label>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1" id="optionsRadios11"
                                           th:field="*{newPmRadio}" value="card"/>
                                    Карта
                                </label>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Название</label>
                                <input type="text" th:field="*{newCrdName}" class="form-control"
                                       placeholder="Введите номер карты"/>
                                <label for="exampleInputEmail1">Номер</label>
                                <input type="text" th:field="*{newCrdNumber}" class="form-control"
                                       placeholder="Введите номер карты"/>
                                <label for="exampleInputEmail1">Год окончания</label>
                                <input type="text" th:field="*{newCrdExpYear}" class="form-control"/>
                                <label for="exampleInputEmail1">Месяц окончания</label>
                                <input type="text" th:field="*{newCrdExpMonth}" class="form-control"/>
                                <label for="exampleInputEmail1">Защитный код</label>
                                <input type="password" th:field="*{newCrdSecNumber}" class="form-control" id="pass"
                                       placeholder="Введите защитный коды"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios1" th:field="*{newPmRadio}"
                                           id="optionsRadios12" value="ps"/>
                                    Система оплаты
                                </label>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Название системы</label>
                                <input type="text" class="form-control" th:field="*{newPsName}" id="exampleInputыEmail1"
                                       placeholder="Введите название системы"/>
                                <label for="exampleInputEmail1">Номер кошелька</label>
                                <input type="password" th:field="*{newPsWallet}" class="form-control" id="paвss"
                                       placeholder="Введите номер кошелька"/>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Оформить</button>
            </div>
            <input type="hidden" th:field="*{orderId}"/>
        </form>
        <br/>
        <br/>
    </div>
</div>

<script th:src="@{/resources/js/jquery.min.js}" src="../resources/js/jquery.min.js"></script>
<script th:src="@{/resources/js/jquery.form.js}" src="../resources/js/jquery.form.js"></script>
<script th:src="@{/resources/js/script.js}" src="../resources/js/script.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}" src="../resources/js/bootstrap.min.js"></script>
</body>
</html>