<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- link rel="shortcut icon" href="../../assets/ico/favicon.ico" / -->

    <title th:text="'wesStyle.ru | ' + 'Каталог | ' +  ${pId.name} + ' | ' + ${catId.name} + ' | ' + ${soft.name}">
        wesStyle.ru</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/style.css}" href="../resources/css/style.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div th:include="navbar :: navbar-div(catalog)"></div>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Каталог</a></li>
        <li>
            <a th:href="'/catalog/' + ${pId.id}" th:text="${pId.name}">Library</a>
        </li>
        <li>
            <a th:href="'/catalog/' + ${pId.id} + '/' + ${catId.id}" th:text="${catId.name}">Library jui</a>
        </li>
        <li>
            <a th:href="'/catalog/' + ${pId.id} + '/' + ${catId.id} + '/' + ${soft.id}" th:text="${soft.name}">Library
                jui</a>
        </li>
    </ol>
</div>

<div class="container">
    <div class="jumbotron">
        <h1 th:text="${soft.name}">Hello, world!</h1>

        <p th:text="${soft.desc}">...</p>
        <br/>

        <div class="text-center">
            <img th:src="@{'/resources/img/' + ${soft.id} + '.jpg'}" width="300px"/>
        </div>

        <br/>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Артикул</th>
                <th>Дата выхода</th>
                <th>Издатель</th>
                <th>Категория</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${soft.id}">1</td>
                <td th:text="${#dates.format(soft.releaseDate, 'dd/MM/yyyy')}">13/01/2011</td>
                <td th:text="${soft.publisher.name}">ЕА гей мс</td>
                <td th:text="${soft.category.name}">Жуи</td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Доступные языки</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c,iterStat : ${soft.langs}">
                        <td th:text="${c.name}">russian</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Платформа</th>
                        <th>Версия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="d,iterStat : ${soft.platforms}">
                        <td th:text="${d.name}">russian</td>
                        <td th:text="${d.version}">1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h3>Издания:</h3>

        <div class="row">
            <div th:each="ed : ${soft.editions}" th:class="'col-md-' + ${12/#lists.size(soft.editions)}"
                 class="col-md-12">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Название</td>
                        <td th:text="${ed.name}">russian</td>
                    </tr>
                    <tr>
                        <td>Тип</td>
                        <td th:text="${ed.editionType}">коробка</td>
                    </tr>
                    <tr>
                        <td>Дополнительно</td>
                        <td th:text="${ed.extras}">nope</td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td th:text="${ed.price} + ' rub'">3</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">Активация</td>
                    </tr>
                    <tr>
                        <td>Количество</td>
                        <td th:text="${ed.activation.amount}">3</td>
                    </tr>
                    <tr>
                        <td>Период(лет)</td>
                        <td th:if="${ed.activation.period} == 0">Пожизненно</td>
                        <td th:unless="${ed.activation.period} == 0" th:text="${ed.activation.period}">3</td>
                    </tr>
                    <tr>
                        <td>
                            Наличие
                        </td>
                        <td th:if="${ed.availability} == 0">Нет в наличии</td>
                        <td th:unless="${ed.availability} == 0" th:text="${ed.availability} + ' шт.'"></td>
                    </tr>
                    </tbody>
                </table>
                <a th:if="${ed.availability} == 0" class="btn btn-lg btn-default" disabled="disabled"
                   role="button" th:text="'Купить '"
                        >Купить</a>
                <a th:unless="${ed.availability} == 0" class="btn btn-primary btn-lg" role="button"
                   th:text="'Купить'"
                   th:href="'javascript:addToCart(' + ${ed.id} + ',' + '\'' + ${ed.editionType} + '\')'"></a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div th:include="loginform :: modal-form" id="modalnest"></div>
    </div>
</div>


<script th:src="@{/resources/js/jquery.min.js}" src="../resources/js/jquery.min.js"></script>
<script th:src="@{/resources/js/jquery.form.js}" src="../resources/js/jquery.form.js"></script>
<script th:src="@{/resources/js/script.js}" src="../resources/js/script.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}" src="../resources/js/bootstrap.min.js"></script>

</body>
</html>
