<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- link rel="shortcut icon" href="../../assets/ico/favicon.ico" / -->

    <title th:text="'wesStyle.ru | ' + 'Каталог'" th:if="(${pId.id} == 0) and (${catId.id} == 0)">wesStyle.ru</title>
    <title th:text="'wesStyle.ru | ' + 'Каталог | ' +  ${pId.name}" th:if="(${pId.id} != 0) and (${catId.id} == 0)">
        wesStyle.ru</title>
    <title th:text="'wesStyle.ru | ' + 'Каталог | ' +  ${pId.name} + ' | ' + ${catId.name}"
           th:if="(${pId.id} != 0) and (${catId.id} != 0)">
        wesStyle.ru</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/style.css}" href="../resources/css/style.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div th:include="navbar :: navbar-div('catalog')"></div>

<div class="container">
    <div>
        <ol class="breadcrumb">
            <li><a href="/">Каталог</a></li>
            <li th:if="${pId.id != 0}">
                <a th:href="'/catalog/' + ${pId.id}" th:text="${pId.name}">Library</a>
            </li>
            <li th:if="${catId.id != 0}">
                <a th:href="'/catalog/' + ${pId.id} + '/' + ${catId.id}" th:text="${catId.name}">Library jui</a>
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Категории</div>
                <div class="panel-body">
                    <ul class="nav nav-pills">
                        <li th:class="${c.id == pId.id}? 'active'" th:each="c,iterStat : ${cats}">
                            <a th:if="${not #lists.isEmpty(c.children)}" class="dropdown-toggle" data-toggle="dropdown"
                               href="#">
                                <span th:text="${c.name}">Dropdown</span><span class="caret"></span>
                            </a>
                            <ul th:if="${not #lists.isEmpty(c.children)}" class="dropdown-menu" role="menu">
                                <li>
                                    <a th:href="'/catalog/' + ${c.id}" href="#" th:text="${c.name}">Action</a>
                                </li>
                                <li class="divider"></li>
                                <li th:each="ch : ${c.children}">
                                    <a th:href="'/catalog/' + ${c.id} + '/' + ${ch.id}" href="#" th:text="${ch.name}">Action</a>
                                </li>
                            </ul>

                            <a th:unless="${not #lists.isEmpty(c.children)}" href="#">
                                <a th:href="'/catalog/' + ${c.id}" th:text="${c.name}">Separated link</a>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Изображение</th>
                    <th>Дата</th>
                    <th>Издатель</th>
                    <th th:unless="${pId.id} != 0">Категория</th>
                    <th class="text-center">Издания</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sft, iteration : ${soft}">
                    <td style="width:15%">
                        <a th:href="'/catalog/' + ${sft.parentCategory.id} + '/' + ${sft.category.id} + '/' + ${sft.id}"
                           href="#" th:text="${sft.name}">jui</a>
                    </td>
                    <td class="text-center">
                        <img th:src="@{'/resources/img/' + ${sft.id} + '.jpg'}" width="65px"/>
                    </td>
                    <td th:text="${#dates.format(sft.releaseDate, 'dd/MM/yyyy')}">13/01/2011</td>
                    <td th:text="${sft.publisher.name}">ЕА гей мс</td>
                    <td th:unless="${pId.id} != 0" th:text="${sft.category.name}" style="width:5%">Жуи</td>
                    <td>
                        <div class="row" th:each="ed,edStat : ${sft.editions}">
                            <div class="col-md-4" th:text="${ed.name}">
                            </div>
                            <div class="col-md-3" th:text="${ed.price} + ' руб.'">
                            </div>

                            <div class="col-md-3" th:unless="${ed.availability} == 0"
                                 th:text="${ed.availability} + ' шт.'"></div>
                            <div class="col-md-3" th:if="${ed.availability} == 0">Нет в наличии</div>

                            <div class="col-md-1 text-right">
                                <a class="btn btn-primary btn-xs addToCart"
                                   th:href="'javascript:addToCart(' + ${soft[iteration.index].editions[edStat.index].id} + ',' + '\'' + ${soft[iteration.index].editions[edStat.index].editionType} + '\')'"
                                   th:unless="${ed.availability} == 0" role="button"><span
                                        class="glyphicon glyphicon-shopping-cart"></span></a>
                                <a class="btn btn-xs btn-default" disabled="disabled" th:if="${ed.availability} == 0"
                                   role="button"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(soft)}">
                    <td class="text-center" colspan="6">Не найдено</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script th:src="@{/resources/js/jquery.min.js}" src="../resources/js/jquery.min.js"></script>
<script th:src="@{/resources/js/jquery.form.js}" src="../resources/js/jquery.form.js"></script>
<script th:src="@{/resources/js/script.js}" src="../resources/js/script.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}" src="../resources/js/bootstrap.min.js"></script>
</body>
</html>
