<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="jui"></div>
<div th:fragment="modal-form">
    <div class="modal-content">
        <form role="modal" id="logform" th:action="@{/logins}" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Вход</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">Имя пользователя</label>
                    <input class="form-control" type="text" id="username" name="username"
                           placeholder="Введите имя пользователя"/>
                </div>
                <div class="form-group">
                    <label for="examplepasswordPassword1">Пароль</label>
                    <input class="form-control" type="password" id="password" name="password"
                           placeholder="Введите пароль"/>
                </div>
            </div>
            <div th:if="${loginError}" class="alert alert-danger" th:text="#{ru.wesstyle.loginerror}">Login Error</div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>