<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- link rel="shortcut icon" href="../../assets/ico/favicon.ico" / -->

    <title th:text="'wesStyle.ru | Вход'">wesStyle.ru</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/style.css}" href="../resources/css/style.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form th:action="@{/login}" method="post">
                <div>
                    <h4 class="modal-title" id="myModalLabel">Вход</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">Имя пользователя</label>
                        <input class="form-control" type="text" id="username" name="username"
                               placeholder="Введите имя пользователя"/>
                    </div>
                    <div class="form-group">
                        <label for="examplepasswordPassword1">Пароль</label>
                        <input class="form-control" type="password" id="password" name="password"
                               placeholder="Введите пароль"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


<script th:src="@{/resources/js/jquery.min.js}" src="../resources/js/jquery.min.js"></script>
<script th:src="@{/resources/js/jquery.form.js}" src="../resources/js/jquery.form.js"></script>
<script th:src="@{/resources/js/script.js}" src="../resources/js/script.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}" src="../resources/js/bootstrap.min.js"></script>
</body>
</html>
