<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar-div (page)">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">wesStyle.ru</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li th:class="${page} == 'catalog'? 'active'"><a th:text="#{ru.wesstyle.home}"
                                                                     href="/catalog/">Home</a>
                    </li>
                    <li th:class="${page} == 'about'? 'active'"><a th:text="#{ru.wesstyle.about}"
                                                                   href="/about/">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}">
                        <a>
                            <span th:text="#{ru.wesstyle.welcome}">Welcome</span>,
                            <strong th:text="#{ru.wesstyle.anon}">anon</strong> <b class="glyphicon glyphicon-user"></b>
                        </a>
                    </li>
                    <li th:class="${page} == 'orders'? 'active'"
                        th:unless="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}">
                        <a th:href="@{/orders/}">Заказы</a>
                    </li>
                    <li th:class="${page} == 'stats'? 'active'"
                        th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <a th:href="@{/stats/}">Статистика</a>
                    </li>
                    <li th:class="${page} == 'cart'? 'active'" th:include="cart-nav :: cart-navbar" id="cartli"></li>
                    <li th:if="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}">
                        <a href="#" th:text="#{ru.wesstyle.login}" data-toggle="modal" data-target="#myModal">
                            Log in
                        </a>
                    </li>
                    <li th:class="${page} == 'profile'? 'active'" class="dropdown"
                        th:unless="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span th:text="#{ru.wesstyle.welcome}">Welcome</span>,
                            <strong th:text="${#authentication.name}">%username%</strong> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:text="#{ru.wesstyle.logout}" href="/logout">Log-out now</a></li>
                        </ul>
                    </li>
                    <li th:class="${page} == 'register'? 'active'"
                        th:if="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}">
                        <a th:href="@{/register/}">
                            Регистрация
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div th:include="loginform :: modal-form" id="modalnest"></div>
        </div>
    </div>

</div>
</body>
</html>