<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- link rel="shortcut icon" href="../../assets/ico/favicon.ico" / -->

    <title th:text="'wesStyle.ru | Заказ №' + ${cart.id}">
        wesStyle.ru</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/style.css}" href="../resources/css/style.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:include="navbar :: navbar-div('orders')"></div>

<div class="container">
    <h3>Статус: <span th:text="${cart.status}"></span></h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Артикул</th>
            <th>Название</th>
            <th>Издание</th>
            <th>Тип</th>
            <th>Цена за штуку</th>
            <th>Количество</th>
            <th th:unless="${#lists.isEmpty(cart.list[0].keys)}">Ключи</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="eds, edStat : ${cart.list}" th:id="'edtr'+ ${eds.ed.id}">
            <td th:text="${eds.ed.id}">1</td>
            <td th:text="${eds.ed.softName}">jui</td>
            <td th:text="${eds.ed.name}">1</td>
            <td th:text="${eds.ed.editionType}" class="edType">1</td>
            <td th:text="${eds.ed.price}">1</td>
            <td class="col-md-2">
                <div>
                    <div class="input-group input-group-sm">
                        <input type="text" readonly="true" th:class="'form-control text-center inputs'"
                               th:id="'ed'+ ${eds.ed.id}" th:value="${eds.amount}"/>
                    </div>
                </div>
            </td>
            <td th:unless="${#lists.isEmpty(eds.keys)}" style="width: 30%;">
                <div>
                    <p class="bg-warning text-center" style="text-transform: uppercase; padding: 3px"
                       th:each="key : ${eds.keys}"><span th:text="${key.key}"></span></p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/resources/js/jquery.min.js}" src="../resources/js/jquery.min.js"></script>
<script th:src="@{/resources/js/jquery.form.js}" src="../resources/js/jquery.form.js"></script>
<script th:src="@{/resources/js/script.js}" src="../resources/js/script.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}" src="../resources/js/bootstrap.min.js"></script>
</body>
</html>