<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- link rel="shortcut icon" href="../../assets/ico/favicon.ico" / -->

    <title th:text="'wesStyle.ru | Регистрация'">
        wesStyle.ru</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/style.css}" href="../resources/css/style.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:include="navbar :: navbar-div('register')"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>Регистрация</h3>

            <form role="form" th:object="${regForm}" action="/register/" method="post">
                <div class="form-group">
                    <label>Логин</label>
                    <input type="text" class="form-control" th:field="*{login}" placeholder="Введите ваш логин"/>
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input type="password" class="form-control" th:field="*{password1}"
                           placeholder="Введите ваш пароль"/>
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input type="password" class="form-control" th:field="*{password2}"
                           placeholder="Повторите ваш пароль"/>
                </div>
                <div class="form-group">
                    <label>Имя</label>
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Введите ваше имя"/>
                </div>
                <div class="form-group">
                    <label>Фамилия</label>
                    <input type="text" class="form-control" th:field="*{surname}" placeholder="Введите вашу фамилию"/>
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" class="form-control" th:field="*{email}" placeholder="Введите ваш E-mail"/>
                </div>

                <div th:if="${hasErrors}" class="alert alert-danger"
                     th:text="'Проверьте правильность введенных данных'">Error
                </div>
                <div th:if="${userExists}" class="alert alert-danger"
                     th:text="'Пользователь с таким логином уже существует'">Error
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<script th:src="@{/resources/js/jquery.min.js}" src="../resources/js/jquery.min.js"></script>
<script th:src="@{/resources/js/jquery.form.js}" src="../resources/js/jquery.form.js"></script>
<script th:src="@{/resources/js/script.js}" src="../resources/js/script.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}" src="../resources/js/bootstrap.min.js"></script>
</body>
</html>