<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- link rel="shortcut icon" href="../../assets/ico/favicon.ico" / -->

    <title th:text="'wesStyle.ru | Статистика'">
        wesStyle.ru</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/style.css}" href="../resources/css/style.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:include="navbar :: navbar-div('stats')"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12"><h3 class="text-center">Статистика</h3></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h4>Пользователи</h4>
            Всего пользователей: <strong><span th:text="${users}">10</span></strong>
        </div>
        <div class="col-md-3">
            <h4>Заказы</h4>
            Всего Заказов: <strong><span th:text="${ods}">10</span></strong><br/>
            Обработано: <strong><span th:text="${done}">3</span></strong><br/>
            В ожидании: <strong><span th:text="${delayed}">2</span></strong><br/>
            <br/>
            <a href="processOrders" class="btn btn-primary">Запустить обработчик</a>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br/>
            <h4 class="text-center">История изменения статусов заказов</h4>

            <table class="table">
                <thead>
                <tr>
                    <th>Номер заказа</th>
                    <th>Текущий статус</th>
                    <th>Предыдущий статус</th>
                    <th>Дата изменения</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="log, iteration : ${logs}">
                    <td th:text="${log.orderId}">1</td>
                    <td th:text="${log.orderStatus}">1</td>
                    <td th:text="${log.orderPrStatus}">1</td>
                    <td th:text="${#dates.format(log.timeStamp, 'dd/MM/yyyy')}">13/01/2011</td>
                </tr>
                <tr th:if="${#lists.isEmpty(logs)}">
                    <td class="text-center" colspan="6">Не найдено</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script th:src="@{/resources/js/jquery.min.js}" src="../resources/js/jquery.min.js"></script>
<script th:src="@{/resources/js/jquery.form.js}" src="../resources/js/jquery.form.js"></script>
<script th:src="@{/resources/js/script.js}" src="../resources/js/script.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}" src="../resources/js/bootstrap.min.js"></script>
</body>
</html>